<div ng-controller="imgSliderController">
 <h3 class="text-center">Activity Images</h3>

<div class="leftthumbnails col-lg-7 col-md-5" id="links"></div> <!-- Flickr image container-->
<div class="col-lg-5"> 
    <div class="slider">
        <img ng-repeat="slide in slides" class="slide s slide-animation nonDraggableImage"
            ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
            ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

        <a class="arrow prev" href="#/slider" ng-click="nextSlide()"></a>
        <a class="arrow next" href="#/slider" ng-click="prevSlide()"></a>

        <!-- <a href="#/slider" ng-class="{'active':isCurrentSlideIndex($index)}"
                          ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a> -->

       <!-- <nav class="nav">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot" ng-repeat="slide in slides">
                        <a href="#/slider" ng-class="{'active':isCurrentSlideIndex($index)}"
                          ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                </ul>
            </div>
        </nav> -->

    </div><!--slider ends --> 
    <div class="well col-lg-12 col-md-7 col-sm-12 col-xs-12 pull-right">
        <form name="myForm" >
            <input type="checkbox" ng-model="imgSliderController.value1"> Select 
             <br><br/>
             <input type="text" class="form-control block-center" ng-model="caption" placeholder="Enter Caption" ng-show="imgSliderController.value1"> 
            <br/>

         
          <button class="btn btn-success" ng-click="">Submit</button>&nbsp;
          <button class="btn" ng-click="">Cancel</button>
         </form>
    </div>
</div> 

</div>